<h1><%= t('hello', name: @name) %></h1>
<p><%= t('users', count: @users_count) %></p>
<p>
<%= I18n.with_locale(:de) { t('hello',name: @name) } %> <br>   
<%= I18n.with_locale(:en) { t('hello',name: @name) } %> <br>
<%= I18n.with_locale(:es) { t('hello',name: @name) } %>  <br>
<%= I18n.with_locale(:fr) {t('hello',name: @name)}%>
</p>
